<%# Student Show %>
<div>
<label for="student_first_name">Student First Name</label>
<h3><%= @student.first_name %></h3><br>
<label for="student_last_name">School Class Room Number: </label>
<h3><%= @student.last_name %></h3>
</div>