<div>
<label for="school_class_title">School Class Title</label>
<h3><%= @school_class.title %></h3><br>
<label for="school_class_room_number">School Class Room Number: </label>
<h3><%= @school_class.room_number %></h3>
</div>
